.history div {
  line-height: 36px;
  font-size: 24px;
  padding: 15px;
}

.history div .avatar {
  margin-right: 20px;
  font-size: 40px;
}

.history .assistant-history .content {
  background-color: rgba(211, 211, 211, 0.252);
  border-radius: 5px;
  flex-grow: 1;
  overflow: auto;
}
.history .assistant-history,
.user-history {
  display: flex;
  flex-direction: row;
}
div.assistant-history,
div.user-history {
  padding-left: 0px;
}

@media screen and (max-width: 600px) {
  .history div {
    line-height: 16px;
    font-size: 14px;
    padding: 5px;
  }
  
  .history div .avatar {
    font-size: 20px;
  }
}
